

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;

   

}

html {
    font-size: 100%;
}

body{
   
    background: #ffffff;
}



nav { display: grid;
    grid-template-columns: repeat (5,1fr);
    grid-gap: 1rem;
    align-items: center;
    text-align: center;
    width:100%;
    height: 6rem;
    background: white;
    position: fixed;
    
    

}

.logo { 
    grid-column: 1;
    margin-top: 0.4rem;
    
    
}

.fundacion {
    grid-column: 3;
    font-size: 2.7rem;
    text-decoration: none;
}

.funcionamiento {
grid-column: 4;
font-size: 2.7rem;
text-decoration: none;
}

.mierda {
    grid-column: 5;
    font-size: 2.7rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color:#ff45ff ;
    
}

nav div a:hover {
    color: white;
    background-color: #ff45ff;
}

.contenedor2 {
    display: grid;
    grid-template-rows: repeat (5,1fr);
    grid-gap: 1rem;
    width:100%;
    height: 34rem;
    background-color: white;
    align-items: center;
    text-align: center;
    row-gap: 1rem;
}

.a { 
    
    grid-row: 1;
    height: 34rem;
    
}

.uno {
    color: #459cff;
    grid-row: 2;
    font-size: 1.7rem;
    background-color: rgba(255, 255, 255, 0);


}

.dos {
    color: #ffc445;
    grid-row: 3;
    font-size: 1.7rem;
    background-color: rgba(255, 255, 255, 0);
}

.tres {
    color: #67ff2b;
    grid-row: 4;
    font-size: 1.7rem;
    background-color: rgba(255, 255, 255, 0);
}

.cuatro {
    color: #ff455e;
    grid-row: 5;
    font-size: 1.7rem;
    background-color: rgba(255, 255, 255, 0);
}

@media screen and (min-width: 840px) and (max-width:1020px){
    


body{
    font-family: built titling;
    background: #ffffff;
    font-size: 80%;
}



nav { display: grid;
    grid-template-columns: repeat (5,1fr);
    grid-gap: 0.8rem;
    align-items: center;
    text-align: center;
    width:100%;
    height: 5.8rem;
    background: white;
    position: fixed;
    
    

}

.logo { 
    grid-column: 1;
    margin-top: 0.32rem;
    
    
}


.funcionamiento {
grid-column: 4;
font-size: 2.7rem;
text-decoration: none;
}

.mierda {
    grid-column: 5;
    font-size: 2.7rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color:#ff45ff ;
    
}

nav div a:hover {
    color: white;
    background-color: #ff45ff;
}

.contenedor2 {
    display: grid;
    grid-template-rows: repeat (5,1fr);
    grid-gap: 0.8rem;
    width:100%;
    height: 27.2rem;
    background-color: white;
    align-items: center;
    text-align: center;
    row-gap: 0.8rem;
}


.a { 
    
    grid-row: 1;
    height: 27.2rem;
    
}

.uno {
    color: #459cff;
    grid-row: 2;
    font-size: 1.36rem;
    background-color: rgba(255, 255, 255, 0);

}

.dos {
    color: #ffc445;
    grid-row: 3;
    font-size: 1.36rem;
    background-color: rgba(255, 255, 255, 0);
}

.tres {
    color: #67ff2b;
    grid-row: 4;
    font-size: 1.36rem;
    background-color: rgba(255, 255, 255, 0);
}

.cuatro {
    color: #ff455e;
    grid-row: 5;
    font-size: 1.36rem;
    background-color: rgba(255, 255, 255, 0);
}

.perrito {
    margin-top: 4rem;
}

}

@media screen and (max-width: 840px)
{
body{
        font-family: built titling;
        background: #ffffff;
        font-size: 60%;
    }
nav { 
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
    grid-template-areas: 
    "logo"
    "funcionamiento"
    "mierda";
    grid-gap: 0.30rem;
    align-items: center;
    text-align: center;
    width:100%;
    height: 13rem;
    background: white;
    position: fixed;
}
.logo { 
    
    grid-area: logo;
    margin-top: 0.24rem;
    margin-bottom: 0rem;
}


.funcionamiento {
grid-area: funcionamiento;
font-size: 2rem;
margin-bottom: 1rem;
text-decoration: none;
}

.mierda {
    grid-area: mierda;
    font-size: 2rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color:#ff45ff ;
    
}

nav div a:hover {
    color: white;
    background-color: #ff45ff;
}

.contenedor2 {
    display: grid;
    grid-template-rows: repeat (5,1fr);
    grid-gap: 0.6rem;
    width:100%;
    height: 20.40rem;
    background-color: white;
    align-items: center;
    text-align: center;
    row-gap: 0.6rem;
}


.a { 
    
    grid-row: 1;
    height: 20.40rem;
    
}

.uno {
    color: #459cff;
    grid-row: 2;
    font-size: 1.02rem;
    background-color: rgba(255, 255, 255, 0);

}

.dos {
    color: #ffc445;
    grid-row: 3;
    font-size: 1.02rem;
    background-color: rgba(255, 255, 255, 0);
}

.tres {
    color: #67ff2b;
    grid-row: 4;
    font-size: 1.02rem;
    background-color: rgba(255, 255, 255, 0);
}

.cuatro {
    color: #ff455e;
    grid-row: 5;
    font-size: 1.02rem;
    background-color: rgba(255, 255, 255, 0);
}

.perrito {
    padding-top: 13rem;
}

}


