@font-face {
    font-family: 'built';
    src: url('font\built.ttf'); 
}

*{
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body{
    font-family: 'built';
    background: #ffffff;
}

/*navbar*/

nav { display: grid;
    grid-template-columns: repeat (5,1fr);
    grid-gap: 1rem;
    align-items: center;
    text-align: center;
    width:100%;
    height: 6rem;
    background: white;
    position: fixed;
  }

.logo { 
    grid-column: 1;
    margin-top: 0.4rem;
    
    
}

.fundacion {
    grid-column: 3;
    font-size: 2.7rem;
    text-decoration: none;
}

.funcionamiento {
grid-column: 4;
font-size: 2.7rem;
text-decoration: none;
}

.mierda {
    grid-column: 5;
    font-size: 2.7rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color:#ff45ff ;
    
}

nav div a:hover {
    color: white;
    background-color: #ff45ff;
}

/*Formulario*/

main {
  display: grid;
  grid-template-rows: repeat (3,0.5fr);
  grid-gap: 1rem;
  width:100%;
  height: 34rem;
  background-color: white;
  align-items: center;
  text-align: center;
  row-gap: 1rem;
  padding-bottom: 0.3rem;
}


h1 {
  grid-row: 1;
  padding-top: 6rem;
  text-align: center;
  
  

}

p {
  grid-row: 2;
  font-size: 1.3rem;
  
  
  
}


.formulario{
  grid-row: 3;
  display: grid;
  grid-template-row: repeat (4 1fr);
  gap: 0.3rem;
  margin:  0rem 15rem;
  background-color: #459cff;
  padding: 1.3rem;
  margin-bottom: 4rem;
  border-radius: 3rem;
  margin-top: 0.5rem;
  height: 34rem;
}

.label 
{
  display:block;
  font-size: 1.2rem;
  padding-bottom: 0.6rem;
  
}

.input {
  
    width: 100%;
    background: #fff;
    border: 0.18rem solid transparent;
    border-radius: 0.18rem;
    height: 2.81rem;
    line-height:2.81rem;
    text-align: center;
    
  
}

.textarea {
   height: 10rem;
    grid-row: 4;
    width: 100%;
    background: #fff;
    border: 0.18rem solid transparent;
    border-radius: 0.18rem;
    line-height: 2.81rem;
    text-align: center;
    font-size: 1.3rem;
}

::placeholder { text-align: center;
  font-size: 1rem ;

}

option {
  text-align: center;
  font-size: 1rem;
}

button{
  height: 2.81rem;
  width: 10rem;
  font-size: 1rem;
  background: #ff45ff;
  color: #fff;
  border: none;
  border-radius: 0.18rem;
  animation: rebota 1.5s infinite;
  cursor: pointer;
} 

@keyframes rebota {
  0% {
    tranform: translate(0, 19%);
  }
  50% {
    transform: translate(0, 19%);
  }
} 

@media screen and (min-width: 840px) and (max-width:1020px){
    


  body{
    font-family: built titling;
    background: #ffffff;
    font-size: 80%;
}



nav { display: grid;
    grid-template-columns: repeat (5,1fr);
    grid-gap: 0.8rem;
    align-items: center;
    text-align: center;
    width:100%;
    height: 5.8rem;
    background: white;
    position: fixed;
    
    

}

.logo { 
    grid-column: 1;
    margin-top: 0.32rem;
    
    
}


.funcionamiento {
grid-column: 4;
font-size: 2.7rem;
text-decoration: none;
}

.mierda {
    grid-column: 5;
    font-size: 2.7rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color:#ff45ff ;
    
}

nav div a:hover {
    color: white;
    background-color: #ff45ff;
}


  /*Formulario*/

main {
  display: grid;
  grid-template-rows: repeat (3,0.5fr);
  grid-gap: 1rem;
  width:100%;
  height: 27.2rem;
  background-color: white;
  align-items: center;
  text-align: center;
  row-gap: 0.80rem;
  padding-bottom: 0.24rem;
}


h1 {
  grid-row: 1;
  padding-top: 5.8rem;
  text-align: center;
  
  

}

p {
  grid-row: 2;
  font-size: 1.04rem;
  
  
  
}


.formulario{
  grid-row: 3;
  display: grid;
  grid-template-row: repeat (4 1fr);
  gap: 0.24rem;
  margin:  0rem 12rem;
  background-color: #459cff;
  padding: 1.04rem;
  margin-bottom: 3.20rem;
  border-radius: 2.40rem;
  margin-top: 0.40rem;
  height: 27.20rem;
}

.label 
{
  display:block;
  font-size: 0.96rem;
  padding-bottom: 0.48rem;
  
}

.input {
  
    width: 100%;
    background: #fff;
    border: 0.14rem solid transparent;
    border-radius: 0.14rem;
    height: 2.25rem;
    line-height:2.25rem;
    text-align: center;
    
  
}

.textarea {
   height: 8rem;
    grid-row: 4;
    width: 100%;
    background: #fff;
    border: 0.14rem solid transparent;
    border-radius: 0.14rem;
    line-height: 2.25rem;
    text-align: center;
    font-size: 1.04rem;
}

::placeholder { text-align: center;
  font-size: 0.80rem ;

}

option {
  text-align: center;
  font-size: 0.80rem;
}

button{
  height: 2.25rem;
  width: 8rem;
  font-size: 0.80rem;
  background: #ff45ff;
  color: #fff;
  border: none;
  border-radius: 0.14rem;
  animation: rebota 1.5s infinite;
  cursor: pointer;
} 

@keyframes rebota {
  0% {
    tranform: translate(0, 19%);
  }
  50% {
    transform: translate(0, 19%);
  }
} 
  
  }
  
  @media screen and (max-width: 840px)
  {
    body{
      font-family: built titling;
      background: #ffffff;
      font-size: 60%;
  }
nav { 
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 0.3fr 0.3fr 0.3fr;
  grid-template-areas: 
  "logo"
  "funcionamiento"
  "mierda";
  grid-gap: 0.30rem;
  align-items: center;
  text-align: center;
  width:100%;
  height: 13rem;
  background: white;
  position: fixed;
}
.logo { 
  
  grid-area: logo;
  margin-top: 0.24rem;
  margin-bottom: 0rem;
}


.funcionamiento {
grid-area: funcionamiento;
font-size: 2rem;
margin-bottom: 1rem;
text-decoration: none;
}

.mierda {
  grid-area: mierda;
  font-size: 2rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color:#ff45ff ;
  
}

nav div a:hover {
  color: white;
  background-color: #ff45ff;
}

/*Formulario*/

main {
  display: grid;
  grid-template-rows: repeat (3,0.5fr);
  grid-gap: 0.60rem;
  width:100%;
  height: 20.4rem;
  background-color: white;
  align-items: center;
  text-align: center;
  row-gap: 0.60rem;
  padding-bottom: 0.18rem;
}


h1 {
  grid-row: 1;
  padding-top: 14rem;
  text-align: center;
  
  

}

p {
  grid-row: 2;
  font-size: 1.04rem;
  
  
  
}


.formulario{
  grid-row: 3;
  display: grid;
  grid-template-row: repeat (4 1fr);
  gap: 0.24rem;
  margin:  0rem 5rem;
  background-color: #459cff;
  padding: 1.04rem;
  margin-bottom: 3.20rem;
  border-radius: 2.40rem;
  margin-top: 0.40rem;
  height: 27.20rem;
}

.label 
{
  display:block;
  font-size: 0.96rem;
  padding-bottom: 0.48rem;
  
}

.input {
  
    width: 100%;
    background: #fff;
    border: 0.14rem solid transparent;
    border-radius: 0.14rem;
    height: 2.25rem;
    line-height:2.25rem;
    text-align: center;
    
  
}

.textarea {
   height: 8rem;
    grid-row: 4;
    width: 100%;
    background: #fff;
    border: 0.14rem solid transparent;
    border-radius: 0.14rem;
    line-height: 2.25rem;
    text-align: center;
    font-size: 1.04rem;
}

::placeholder { text-align: center;
  font-size: 0.80rem ;

}

option {
  text-align: center;
  font-size: 0.80rem;
}

button{
  height: 2.25rem;
  width: 8rem;
  font-size: 0.80rem;
  background: #ff45ff;
  color: #fff;
  border: none;
  border-radius: 0.14rem;
  animation: rebota 1.5s infinite;
  cursor: pointer;
} 

@keyframes rebota {
  0% {
    tranform: translate(0, 19%);
  }
  50% {
    transform: translate(0, 19%);
  }
} 
  
  }
  
